wheel==0.45.1
setuptools==65.5.0
ninja==1.11.1.4
imageio
imageio-ffmpeg
tqdm
easydict
opencv-python-headless
trimesh
transformers
gradio==6.0.1
tensorboard
pandas
lpips
zstandard
git+https://github.com/RATATA17/utils3d.git
kornia
timm
hf_xet
huggingface_hub[cli]
